/* element selectors */
header {
    width: 100%;
    height: 50px;
    text-align: center;
}

/* class selectors */
.high-score {
    margin-left: 10px;
}

.timer {
    margin-right: 10px;
    font-weight: bold;
    font-size: 19px;
}

.container {
    text-align: center;
}

.main-content {
    text-align: center;
}

.card {
    margin: 0 auto;
}

/* id selectors */
#current-high-score {
    font-weight: bold;
    text-decoration: underline;
}

#current-record-holder {
    font-weight: bold;
    text-decoration: underline;
}
